/*   Colors    */
/* green
rgb(178,177,70)
  dark green
rgb(54,53,42)
  lightblue
rgb(201,234,255)
  deep red
rgb(127,25,24)
  rose
rgb(255,192,191)

*/

/*  Grid definition  */

.layout-wrapper {
    display: grid;
    grid-template:
        "hd hd hd hd hd hd hd hd hd" minmax(80px, auto)
        "land land land land land land land land land" minmax(auto, auto)
        "main main main main main main main main main" minmax(70vh, auto)
        "ft ft ft ft ft ft ft ft ft" minmax(60px, auto)
          / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
          background: rgb(255,255,255);
}

/*  Styles  */
body {
  color: rgb(32,54,72);
  font-family: 'Average Sans', sans-serif;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
h6 {
    font-size: 12px;
    line-height: 20px;
}
a {
  text-decoration: none;
  color: rgb(32,54,72);
}
.padding-left-5 {
  padding-left: 5px;
}
.site-title {
  font-size: 24px;
}
.header {
    grid-area: hd;
    background: rgb(61,38,33);
    color: indianred;
    padding: 15px;
  a {
    color: indianred;
  }
}
.footer {
    grid-area: ft;
    background: rgb(61,38,33);
    color: indianred;
    padding: 15px;
}
.landing {
  grid-area:land;
  display: grid;
  background: rgb(121,139,167);
  background-image:
    linear-gradient(
      to top,
      rgb(237,237,237),
      rgb(226,217,207)35%
    );
  color: rgb(61,38,33);
  padding: 110px;
  font-size: 25px;
  p {
    align-self:center;
    max-width: 500px;
    text-align: center;
    margin:auto;
  }
}
.main {
    grid-area: main;
    background: rgb(255,255,255);
    padding: 25px;
    margin: 0 auto;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  max-width: 732px;
}
//  Index page
.list-group-item {
  background: white;
  color: rgb(54,53,42);
  margin: 5px;
  padding: 10px;
  width: 60%;
  height: 50px;
  border: 1px solid rgb(178,177,70);
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgb(54,53,42);
  color: rgb(54,53,42);
}
.add-resource {
  height: 10px;
  text-transform: uppercase;
  font-size: 16px;
  background: gray;
  box-shadow: 3px 3px 10px gray;
  border-radius: 5px;
  background-image: radial-gradient(
    ellipse,
    rgb(226,217,207),
    rgb(237,237,237) 100%
  );
  padding: 10px 17px 15px;
  color: rgb(54,53,42);
    a {
      color: rgb(35,63,82);
      text-decoration: none;
      &:hover {
        color: rgb(35,63,82);
      }
      &:visited {
        color: rgb(35,63,82);
      }
    }
}

//  Individual resource "show" page styles
.single-resource-container {
  display: grid;
  grid-template:
      "img title title title title title title title title" minmax(90px, auto)
      "imb sub sub sub sub sub sub sub sub" minmax(40px, auto)
      "sum sum sum sum sum sum sum sum sum" minmax(70px, auto)
      "com com com com com tag tag tag tag " minmax(40px, auto)
        / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgb(255,255,255);
  margin-top:10px;
  margin-bottom:15px;
  max-width: 700px;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px darkgray;
}
.img {
  grid-area: img;
}
.title {
  grid-area: title;
  padding-left: 15px;
}
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-title {
  grid-area: sub;
  margin-top: 10px;
}
.category {
  grid-area: cat;
}
.rating {
  grid-area: rat;
}
.summary {
  grid-area: sum;
  padding-top: 10px;
}
.comments {
  grid-area: com;
  margin-top: 5px;
}
.tags {
  grid-area: tag;
  margin-top: 5px;
}
.btn {
  height: 35px;
  width: 8em;
  color: indianred;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  background: rgb(61,38,33);
  border: none;
  box-shadow: 3px 3px 10px rgb(50,50,50);
}
.card-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top:10px;
}
//    /*****   General Form styles  *****/

.form-style{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style span.required{
    color:red;
}
.form-style input.input-field{
    width: 48%;

}
.form-style input.input-field,
.form-style .textarea-field,
 .form-style .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style .input-field:focus,
.form-style .textarea-field:focus,
.form-style .select-field:focus{
    border: 1px solid #0C0;
}
.form-style .textarea-field{
    height:100px;
    width: 55%;
}
.form-style input[type=submit],
.form-style input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}





//    /*****   Create-New Form styles  *****/
